<div>

  <!-- <img src="" width="400px" style="padding-top:40px; padding-bottom:30px;"/> -->

  <h4>Login</h4>
  <!-- <form #f="ngForm">
    <input type="text" placeholder="Email" required [(ngModel)]="user.email_address" name="email_address"><br>
    <input type="password" placeholder="Password" required [(ngModel)]="user.password" name="password"><br>
    <button class="btn" [disabled]="!f.form.valid" (click)="login()">Login</button>
  </form>
  <p>Don't have an account yet? <span class="link" routerLink="/register">Sign Up</span></p>
  <p>© Copyright 2017. All Rights Reserved.</p> -->
</div>
