<!-- <div class="" style="">
  <div class="" style="">
    <h3>Cart Monkey</h3>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
    <button type="button" class="btn btn-primary" style="float:right;">Primary</button>
  </div>
</div> -->


<nav class="navbar" style="padding-right:10px; border-bottom: solid gray 1px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Cart Monkey</p>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-primary navbar-btn" routerLink="/dashboard">Login</button>
    </ul>
  </div>
</nav>
